@tailwind base;

@tailwind componenets;

.checkbox {
    @apply hidden
}

.checkbox:checked + .switch::after {
    left: 1.15rem;
}

.checkbox:checked + .switch {
    @apply ring-2 ring-gray-100 bg-opacity-20
}

.switch {
    transition: box-shadow 600ms ease-in-out, background-color 200ms ease-in-out;
    @apply relative inline-block w-8 h-4 bg-gray-200 bg-opacity-50 ring-2 ring-gray-700 rounded-full
}

body {
    transition: color 700ms ease-in-out;
}

.switch::after {
    content: "";
    position: absolute;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    top: .1rem;
    left: .1rem;
    transition: left 500ms ease-in-out, background-color 500ms ease-in-out;
    @apply bg-gray-700 dark:bg-gray-200
}

.tabs {
    @apply overflow-hidden bg-transparent flex z-10
}

.tabs button {
    @apply float-left outline-none cursor-pointer py-1 relative
}

.tabs button:hover {
    @apply text-green-600
}

.tabs button.active {
    @apply border-b border-blue-500 text-green-600;
}

#eight {
    @apply py-1 px-0 mx-5
}

#eight::before {
    content: "";
    color: #000;
    position: relative;
    left: -10px;
    border-left: 1px solid black;
    height: 1rem;
}

#eight::after {
    content: "";
    color: #000;
    position: relative;
    right: -10px;
    border-left: 1px solid black;
    height: 1rem;
}

.tab-content-wrapper::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

.slideup, .slidedown {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 300ms ease-in-out;
    -moz-transition: max-height 300ms ease-in-out;
    -o-transition: max-height 300ms ease-in-out;
    transition: max-height 300ms ease-in-out;
}
.slidedown {
    max-height: 8rem ;
}

.extra_info-list.extra_info {
    display: none;
}

.cards {
    transition: box-shadow 600ms ease-in-out, background-color 600ms ease-in-out;
    @apply relative z-10 h-full w-full p-1 grid grid-cols-1 justify-items-center bg-green-700 bg-opacity-40 mt-2 rounded-xl dark:bg-opacity-20
}

.drop_down-btn {
    @apply absolute right-2 top-5 focus:outline-none focus:ring-2 focus:ring-blue-600 rounded-sm w-3 h-3 flex items-center justify-center
}

.rotate {
    transform: rotatez(180deg);
}

.main-bg{
    @apply bg-clouds bg-cover bg-center dark:bg-gray-800
}

.main-bg::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 600ms ease-in-out;
}

.main-bg.dark-bg::before {
    background-color: rgba(0, 0, 0, 0.6);
}

.cards-content {
    transition: box-shadow 600ms ease-in-out;
    @apply relative p-2 w-full my-0.5 ring-2 ring-inset rounded-md ring-blue-600 dark:ring-gray-400
}

.current-weather-card {
    transition: background-color 600ms ease-in-out;
    @apply shadow-lg relative p-3 rounded-lg bg-green-700 mx-auto bg-opacity-40 max-w-2xl text-sm dark:bg-opacity-20
}

footer {
    transition: background-color 600ms ease-in-out;
}

.bar::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 0;
    transition: transform 200ms linear, top 200ms linear, background-color 300ms linear;
    @apply h-1 w-full bg-gray-900 rounded dark:bg-gray-300
}

.bar::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -12px;
    right: 0;
    transition: transform 200ms linear, top 200ms linear, background-color 300ms linear;
    @apply h-1 w-full rounded bg-gray-900 dark:bg-gray-300
}

.menu-btn {
    @apply p-0.5 h-full w-full flex flex-col justify-center items-center relative
}

.menu-btn:focus {
    @apply outline-none ring-1 ring-blue-400
}

.menu-btn {
    @apply rounded-lg
}

.bar.bar-active::before {
    top: 0;
    transform: rotatez(45deg);
    transform-origin: center center;
}

.bar.bar-active::after {
    top: 0;
    transform: rotatez(-45deg);
    transform-origin: center center;
}

.bar {
    transition: background-color 400ms linear;
    @apply inline-block h-1 w-full bg-gray-900 relative rounded dark:bg-gray-300
}

.bar.scrolled,
.bar.scrolled::before,
.bar.scrolled::after{
    @apply bg-gray-300
}

.bar.bar-m--focus {
    @apply bg-opacity-0
}

.nav {
    transition: max-height 400ms linear, background-color 400ms ease-in-out;
    @apply relative w-full z-30 dark:bg-opacity-20
}


.search-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform 600ms linear, right 600ms linear;
}

.search-icon.rotate {
    right: 190px;
    transform: rotate(-359deg);
}

.search-placeholder {
    top: 10px;
    left: 50px;
}

.search {
    transition: width 600ms linear;
}
.search.expand {
    @apply w-52
}

.search:focus {
    @apply w-52
}

.side-menu {
    transition: right 500ms ease-in-out, background-color 400ms ease-in-out, max-height 400ms linear;
}

.lang-select {
    transition: background-color 400ms ease-in-out, max-height 400ms linear, padding 400ms linear, right 500ms ease-in-out;
}

.suggestion {
    @apply p-2 cursor-pointer
}

.suggestion:first-child {
    @apply rounded-t-2xl
}

.suggestion:last-child {
    @apply rounded-b-2xl
}

.suggestion:hover {
    @apply bg-blue-300 dark:bg-blue-700
}

@tailwind utilities;
